@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #222226;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff79c6   ;
    border-radius: 12px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff79c6 ;
}
